body p {
    column-count: 3;
}

/*Media queries to combine the columns together when they start to feel squished*/
@media only screen and (max-width: 720px) {
    body p {
        column-count: 2;
    }
}

@media only screen and (max-width: 470px){
    body p {
        column-count: 1;
    }
}