.sections {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    padding: 1em 0 1em 0;
}

img {
    width: 25%;
    align-self: flex-start;
}

p {
    flex-basis: 50%;
    font-size: 140%;
}

@media only screen and (max-width: 565px){
    .sections {
        flex-direction: column;
    }
     img {
        width: 75%;
     }
}