.sections {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    padding: 1em 0 1em 0;
}

figure{
    flex-basis: 50%;
}

sec p {
    flex-basis: 50%;
    font-size: 170%;
}

bold {
    font-weight: bold;
}

/*Figure out the look of the sections when the screen is scrunched up*/

@media only screen and (max-width: 885px){
    .sections {
        flex-direction: column;
    }
     img {
        width: 75%;
     }
}