h1 {
    color:rgb(17, 17, 174);
}

#favorite {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer>p {
    float:right
}

p, li {
    font-size: 120%;   
}

a:active {
    color: rgb(37, 155, 7);
}